<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<header>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<title>create user</title>
</header>

<body>
	<div style="text-align:center">
		<div class="h1" style="margin-bottom:center;  margin-bottom:20px; margin-top: 2px;">
			研修生新規作成
		</div>
		<form method="post" action="/create-confirm">
			<div>
				<label style="margin-right:10px;">名前</label>
				<input type="text" name="userName" style="margin-top:20px; margin-bottom:20px;" />
			</div>
			<div>
				<label style="margin-right:10px;">メールアドレス</label>
				<input type="text" name="userMail" style="margin-top:20px; margin-bottom:20px;" />
			</div>
			<div>
					<input class="btn btn-secondary" type="submit" value="登録" />
					<a class="btn btn-secondary" href="/users">キャンセル</a>
			</div>
		</form>
	</div>
</body>

</html>